<div class="grid place-items-center h-screengrid place-items-center h-screen">
  <div class="relative block border border-gray-100" href="/product/build-your-own-drone">
    <img
      class="object-contain w-full h-56 lg:h-72"
      src="<%= asset_path("learningloop_shirt.png") %>"
      alt="learning loop shirt"
      loading="lazy"
      />

    <div class="p-6">
      <strong class="inline-block px-3 py-1 text-xs font-medium bg-yellow-400">
        New
      </strong>

      <h5 class="mt-4 text-lg font-bold">
        Learning Loop T-Shirt
      </h5>

      <p class="mt-2 text-sm text-gray-700">
        RM29.99
      </p>

      <form action="<%= main_index_path %>" method="post" data-turbo="false">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button
          type="submit"
          class="block w-full p-4 mt-4 text-sm font-medium bg-yellow-500 rounded-sm">
          Buy
        </button>
      </form>
    </div>
  </div>
</div>